* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.country__title {
    margin-top: 125px;
    font-family: Lora, sans-serif;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

.container {
    margin:  93px 91px 105px 72px;
    display: flex;
    flex-wrap: wrap;
    gap: 17px;
}

.country__card {
    margin: 0 auto;
    width: 350px;
    /* height: 584px; */
    height: auto;
    border: 1px solid #E1E1E1;
}

.country__img {
    height: 310px;
    width: 350px;
}

.country__name {
    padding-top: 32px;
    margin-left: 14px;
    font-family: Lora, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #11142D;
}

.country__description {
    padding-top: 13px;
    margin-left: 14px;
    margin-right: 80px;
    font-family: Lora, sans-serif;
    font-size: 16px;
    max-height: 75px; 
    overflow: hidden;
}

.country__button {
    margin-top: 12px;
    margin-bottom: 32px;
    margin-left: 14px;
    height: 56px;
    width: 130px;
    border-radius: 8px;
    border: none;
    background-color: #C7923E;
    color: #FFFFFF;
    font-family: Lora, sans-serif;
    font-size: 16px;
}


.visited-countries {
    margin-left: 100px;
    margin-top: 90px;
    margin-bottom: 100px;
    font-family: Lora, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #11142D;
    list-style-type: none;
}

.visited-countries li {
    padding-bottom: 20px;
    position: relative;
    display: flex; 
    align-items: center; 
}

.visited-countries li:before {
    content: ''; 
    width: 24px; 
    height: 24px; 
    background-color: #C7923E; 
    border-radius: 50%; 
    margin-right: 16px; 
}

.visited-countries li:last-child {
    padding-bottom: 0; 
}


.heart {
    font-size: 30px;
    color: #C7923E;
    cursor: pointer;
    transition: color 0.3s ease; 
    margin-left: 120px;
    background: none;
    border: none;
}

.heart:hover {
    color: red; 
}

.heart.active {
    color: red; 
}