    .todo {
        font-family: "Lora", serif;
        margin-bottom: 100px;
    
        &__header {
            margin-top: 100px;
            font-family: "Lora", sans-serif;
            font-size: 48px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 40px;

            @media (max-width: 767px) {
                font-size: 43px;
            }

            @media (max-width: 575px) {
                font-size: 38px;
            }
        }
    
        &__container {
            margin: auto;
            width: 70%;
            border: $brown-color 2px solid;
            border-radius: 20px;
            box-shadow: 12px 12px 2px 1px #754d0c46;

            @media (max-width: 767px) {
                width: 70%;
            }

            @media (max-width: 575px) {
                width: 90%;
            }
        }
    
        &__country {
            font-size: 25px;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 32px;
            color: #6f5575;
            @media (max-width: 575px) {
                font-size: 20px;
            }
        }
    
        &__task {
            margin-left: 32px;
            margin-bottom: 32px;
            border: 2px #f79235 solid;
            border-radius: 10px;
            width: 60%;
            padding: 16px;
        }
    
        &__button {
            padding: 1rem 3rem;
            margin-left: 32px;
            border: 2px #f79235 solid;
            border-radius: 10px;
            margin-bottom: 32px;
            margin-right: 32px;
            font-size: 1rem;
        }
    
        &__task {
            font-size: 1.2rem;
            max-width: 40rem;
            margin-right: 32px;
            background-color: transparent;
        }
    
        &__list_attractions {
            padding-left: 32px;
            padding-bottom: 20px;
            color: #6f5575;
            font-size: 1.6rem;
            margin-top: 0;

            @media (max-width: 575px) {
                font-size: 20px;
            }
        }
    
        &__emptyTask {
            text-align: center;
            margin: 4rem 0;
        }
    
        &__inputs {
            display: flex;
        }
    
        &__clear {
            display: flex;
            justify-content: center;
        }
    
        &__tasks {
            margin-left: 32px;
            font-size: 1.2rem;
            color: #6f5575;
        }
    
        &__displaynone {
            display: none;
        }
    
        &__taskline {
            margin-right: 32px;
            padding: 0.5rem 1rem;
            border: 0.5px solid #f79235;
            border-radius: 30px;
            margin-bottom: 0.7rem;
            position: relative;
            list-style: none;
        }
    
        &__li {
            list-style: none;
            cursor: pointer;
        }
    
        &__cross {
            position: absolute;
            right: 1.2rem;
            top: -0.8rem;
            font-size: 32px;
            color: #6f5575;
            line-height: 4rem;
            text-align: center;
        }
    
        &__input_style {
            margin-right: 1rem;
        }
    
        &__taskline::before {
            content: '';
            position: absolute;
            height: 1.8rem;
            width: 1.8rem;
            border-radius: 50%;
            background-image: url(../images/empty.png);
            background-size: cover;
            background-position: center;
            top: 0.4rem;
            left: 0.9rem;
        }
    
        &__checked {
            color: #d47a0560;
            text-decoration: line-through;
        }
    
        &__checked::before {
            background-image: url(../images/yes.png);
        }
    }