.footer {
	background-color: #304f47;
	color: #fff;
	font-family: "Lora", serif;
	margin: auto;
}

.footer__elements {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.footer__nav {
	display: flex;
	gap: 50px;
	justify-content: center;
}

.footer__nav a {
	color: white;
	text-decoration: none;
}
.footer__copyright {
	text-align: center;
	padding-bottom: 30px;
}

.footer__git_img {
	width: 40px;
}

.footer__links {
	margin-top: 10px;
}

.footer__logo {
	margin-top: 20px;
	margin-left: 50px;
	height: 100px;
}

.footer__news {
	padding-top: 10px;
	margin-right: 30px;
	display: flex;
	flex-direction: column;
}

.footer__news_input,
.footer__news_submit {
	padding: 10px 20px;
	border: 1px solid#fff;
	border-radius: 15px;
	margin-bottom: 10px;
}

.footer__news_submit {
	color: #304f47;
}

.footer__news_submit:hover {
	background-color: #304f47;
	color: #fff;
	border: 1px solid #fff;
}
