/* header {
	background-color: #304f47;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	padding: 10px;
	z-index: 1;
} 

.logo {
	color: white;
	width: 300px;
}

.menu {
	display: flex;
	flex-direction: row;
	list-style: none;
}

.menu__item:not(:first-child) {
	margin-left: 60px;
}

.menu__link {
	text-decoration: none;
	color: #ffffff;
	font-family: "Mulish", sans-serif;
	font-size: 40px;
	font-weight: 400;
}

.menu__link:hover {
	text-decoration: underline;
}  */